@model Sakura.AspNet.IPagedList<Instrument>

@{
    ViewData["Title"] = "Instruments";
}

<table class="flatTable">
    <tr class="titleTr">
        <td class="titleTd">INSTRUMENTS</td>
        <td colspan="2"></td>
        <td class="plusTd">
            <form style="display: inline" action="/Instruments/Create" method="get">
                <button class="plusBt button"></button>
            </form>
        </td>
    </tr>
    <tr class="headingTr">
        <td>
            NAME
        </td>
        <td>
            PERIOD
        </td>
        <td></td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(item.Period.Name, "Index", "Instruments", new { periodId = item.PeriodID })
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                @Html.ActionLink("To Articles", "Index", "Articles", new { subjectId = item.ID })
            </td>
            <td></td>
        </tr>
    }
</table>
<nav asp-pager-source="Model"></nav>

